name: CI / Deploy to Vercel

on:
  push:
    branches:
      - deploy

jobs:
  deploy:
    name: Deploy to Vercel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23.7'

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: Build Nuxt app
        run: pnpm build

      - name: Debug tokens
        run: |
          echo "APP length: ${#APP_URL}"
          echo "URL length: ${#SUPABASE_URL}"
          echo "ANON_KEY length: ${#SUPABASE_ANON_KEY}"
          echo "TOKEN length: ${#VERCEL_TOKEN}"
          echo "ORG_ID length: ${#VERCEL_ORG_ID}"
          echo "PROJECT_ID length: ${#VERCEL_PROJECT_ID}"
        env:
          APP_URL: ${{ secrets.APP_URL }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      - name: Install Vercel CLI
        run: npm i -g vercel@latest

      - name: Deploy to Vercel
        run: vercel --prod --token $VERCEL_TOKEN --scope $VERCEL_PROJECT_ID --confirm
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
